bcrypt==3.1.7
fastapi==0.60.1
pandas==1.1.4
passlib==1.7.2
pydantic==1.6.1
PyJWT==1.7.1
pymongo==3.11.1 
python-dotenv==0.14.0
python-multipart==0.0.5
starlette==0.13.6
Unidecode==1.1.1
uvicorn==0.11.8